/* App.css */
@import "tailwindcss/preflight"
@tailwind utilities;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fffff; /* gris clair, tailwind bg-gray-200 */
}
